
	
.flexdropdownmenu, .flexdropdownmenu ul{ /*topmost and sub ULs, respectively*/
font-size:12px;
font-weight:normal;
margin:19px 0 0 0px;
padding: 0;
position: absolute;
left: 0;
top: ;
width: auto;
list-style-type: none;
background: white;
border-bottom: 0px solid #84AB0E;
visibility: hidden;
display: none; /*collapse all sub menus to begin with*/
box-shadow: 3px 3px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 3px 3px 8px #818181;
-moz-box-shadow: 3px 3px 8px #818181;
color:#93886e;
}


.flexdropdownmenu li{
position: relative;
}

.flexdropdownmenu li a{
display: block;
width: 158px; /*width of menu (not including side paddings)*/
color:#4C4C4C;
border-bottom: 1px solid #8E3D0F;
text-decoration: none;
padding: 10px 16px;
background:#F3F3F3 ;
}

* html .flexdropdownmenu li{ /*IE6 CSS hack*/
display: inline-block;
width: 158px; /*width of menu (include side paddings of LI A*/
padding-left:5px;

}

.flexdropdownmenu li a:hover, .flexdropdownmenu li.selected>a{
color:#FFFFFF;
background: #6A181B;
border-bottom: 1px solid #8E3D0F;


}